@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
        *{
            margin: 0;
            padding: 0;
            font-weight: normal;
            box-sizing: border-box;
            
        }
        body{
            direction: rtl;
            font-family: 'Cairo', sans-serif;
            color: #fff;
        }
        .app{
            width: 100%;
            height: 100vh;
            background-color: #2a4858;
            text-align: right;

        }
        .app {
          padding: 50px 80px;
        }
        .header{
            font-size: 50px;
            color: #fff;
            border-bottom: 1px solid #223742;
            border-top: 1px solid #223742;
            background-color: #1f3e4e;
        }
        .date{
            position: fixed;
            right: 0;
            background-color: #60c788;
            top: 20%;
            color:#fff;
            padding: 10px;
            border-radius: 2px;
        }
        .date span{
            font-size: 22px;
        }
        .date i {
            font-size: 30px;
        }

        .items{
            display: flex;
            gap: 5px;
        }
        .items .item {
            width: 17%;
            text-align: center;
            transition: .5s;
            cursor: pointer;
        }
        .item h2 {
            background-color: #60c788;
            border-top-right-radius: 30px;

        }
        .item p {
            font-size: 30px;
            background-color: #fff;
            color: #89304b;
            padding: 30px 0;

        }
         .items .item:hover, .items .item:hover p {
            transform: rotate(360deg);
           
        }

        .selectCity{
            width: 20%;
            padding: 20px 15px;
            margin-top: 130px;
            margin-bottom: 20px;
            border: none;
            outline: none;
            font-size: 20px;
            font-family: 'Cairo', sans-serif;

        }